[run]
source = Onaeri

omit =
    Onaeri/__main__.py
    Onaeri/settings/Template.py
    Onaeri/settings/Global.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
